* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 1440px;
	margin: 0 auto;
	background: gray;
}

a {
	text-decoration: none;
}

.main-header {
	position: absolute;
	width: 100%;
	z-index: 2;
	padding: 22px 0;

}

.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.main-header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s;

}

.burger__item {
	display: block;
	width: 17px;
	height: 2px;
	background: #000;
	transition: all 2s;
}

.burger__item:first-of-type {
	transform-origin: 0 0;
}

.burger__item:nth-of-type(2) {
	margin: 5px 0;
	transition-delay: 0.3s;
}

.burger__item:last-of-type {
	transition-delay: 0.6s;
	transform-origin: 0 0;
}

.burger:hover {
	background: #000;
}

.burger:hover .burger__item {
	background: white;
}

.burger:active {
	background: green;
}

.burger:active .burger__item:first-of-type {
	transform: rotate(45deg) translateX(2px);
}

.burger:active .burger__item:nth-of-type(2) {
	opacity: 0;
}

.burger:active .burger__item:last-of-type {
	transform: rotate(-45deg) translateX(2px);
}

.home-intro {
	position: relative;
	height: 811px;
	z-index: 1;
}

.home-intro__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.home-intro .container {
	position: relative;
	padding-top: 188px;
	z-index: 2;
	color: white;
}

.home-intro__label {
	margin-bottom: 22px;
	font-size: 14px;
	font-weight: 400;
}

.home-intro__title {
	font-size: 60px;
	line-height: 74px;
	margin-bottom: 24px;
	max-width: 538px;
}

.home-intro__text {
	font-size: 16px;
	line-height: 26px;
	max-width: 580px;
	margin-bottom: 45px;
}

.btn {
	position: relative;
	font-size: 16px;
	padding-left: 20px;
	color: white;
	text-decoration: underline;
	transition: all .5s;
}

.btn::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent white;
	transition: all .5s;

}

.btn:hover {
	color: #ffd724;
}

.btn::before:hover {
	border-left-color: #ffd724;
}

