* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: gray;
}

a {
	text-decoration: none;
}

.main-header {
	padding: 22px 0;
}

.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.main-header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s;

}

.burger__item {
	display: block;
	width: 17px;
	height: 2px;
	background: #000;
	transition: all 2s;
}

.burger__item:first-of-type {
	transform-origin: 0 0;
}

.burger__item:nth-of-type(2) {
	margin: 5px 0;
	transition-delay: 0.3s;
}

.burger__item:last-of-type {
	transition-delay: 0.6s;
	transform-origin: 0 0;
}

.burger:hover {
	background: #000;
}

.burger:hover .burger__item {
	background: white;
}

.burger:active {
	background: green;
}

.burger:active .burger__item:first-of-type {
	transform: rotate(45deg) translateX(2px);
}

.burger:active .burger__item:nth-of-type(2) {
	opacity: 0;
}

.burger:active .burger__item:last-of-type {
	transform: rotate(-45deg) translateX(2px);
}
